.navbar .custom-nav .nav-link {
  margin-left: 2rem;
  margin-right: 2rem;
  color: black;
}
.navbar .custom-nav .nav-link:hover,
.navbar .custom-nav .nav-link.active {
  color: #03599d;
}

.navbar #basic-navbar-nav {
  margin-left: 20rem;
}
.nav-image img {
  height: 6rem;
  width: auto;
  margin-right: 8px;
}
.Sig {
  text-align: right;
  font-size: 1rem;
}
.Sig a {
  text-decoration: none;
}
.custom-nav .active-tab {
  font-weight: bold;
  color: #000;
  border-bottom: 3px solid #000;
}
