.login-register-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9; /* Màu nền xám nhạt */
  border: 2px solid #ddd; /* Đường viền xám nhạt */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: #555; /* Màu chữ xám trung bình */
  transition: all 0.3s;
}

.tabs .active-tab {
  font-weight: bold;
  color: #000; /* Màu đen cho tab đang hoạt động */
  border-bottom: 3px solid #000; /* Đường gạch chân màu đen */
}

.form-container h2 {
  text-align: center;
  color: #333; /* Màu xám đậm */
  margin-bottom: 20px;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd; /* Viền xám nhạt */
  border-radius: 5px;
  background-color: #fff; /* Màu nền trắng */
}

button {
  width: 100%;
  padding: 10px;
  background-color: #333; /* Màu xám đậm */
  color: #fff; /* Màu chữ trắng */
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555; /* Màu xám trung bình khi hover */
}

.forgot-password {
  display: block;
  margin: 10px 0;
  text-align: center;
  color: #333; /* Màu xám đậm */
}

.terms {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.terms label a {
  color: #dd1b1b; /* Màu đen cho liên kết */
  text-decoration: none;
}

.terms input {
  margin-right: 10px;
}
