.movie-page-content {
  color: #333;
  margin: 0 auto;
  max-width: 1200px;
}
.navi {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.movie-page-content .navi a {
  text-decoration: none;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 15px;
  padding: 10px 20px;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}

.movie-page-content .navi a:hover,
.movie-page-content .navi a.actived {
  border-bottom: 2px solid #007bff;
  color: #007bff;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
  justify-items: start;
}

.movie-items {
  width: 100%;
  text-align: left;
  padding: 15px;
  position: relative;
}

.image-container {
  position: relative;
}

.image-container img {
  display: block;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.overlay-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .overlay-icon {
  opacity: 1;
}

.movie-items a {
  text-decoration: none;
  font-weight: bold;
}

.movie-items a:hover {
  text-decoration: underline;
}

.movie-items h5 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
}
.movie-items ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.movie-items ul li {
  margin-bottom: 5px;
}

.movie-items ul li span {
  font-weight: bold;
}
