body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.movie-detail {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 15px 20px;
  color: white;
}

.logo img {
  height: 50px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #61dafb;
}

.breadcrumb {
  margin: 15px 0;
}

.movie-info {
  display: flex;
  margin-bottom: 30px;
}

.poster img {
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.details {
  margin-left: 20px;
}

.details h1 {
  font-size: 2rem;
  margin: 0;
}

.details p {
  line-height: 1.6;
}
.details ul li {
  line-height: 2;
  list-style: none;
}
.details ul {
  margin-left: 1rem;
}

.date-selector {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  border-bottom: 2px solid #e0e0e0;
}

.date-item {
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
  color: #000;
  transition: color 0.3s, border-bottom 0.3s;
}

.date-item.active {
  font-weight: bold;
  color: #0056b3;
  border-bottom: 3px solid #0056b3;
}

.schedule h2 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #333;
}

.time-slot {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.time-box {
  flex: 1 1 calc(25% - 10px);
  background: #f0f0f0;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.time-box:hover {
  background: #e0e0e0;
}

.time-box p {
  font-size: 14px;
  margin: 5px 0;
}

.time-box span {
  font-size: 12px;
  color: #555;
}
